@{
    ViewBag.Title = "Футбольная команда";
}


@section scripts {}

<nav class="horizontal-menu">
    <ul>
        <li class="bg-hover-grayLighter"><a href="Transfers/#/transfersList">Трансферный лист</a></li>
    </ul>
</nav>