<button id="AddTransferButton" class="bg-grayLighter bg-active-grayLight" type="button">Добавить</button>
<button id="RemoveTransferButton" class="bg-grayLighter bg-active-grayLight disabled" type="button">Удалить</button>