<nav class="sidebar light">
    <ul>
        <li class="title">Позиция</li>
        <li class="stick bg-orange"><a href="#">Вратари</a></li>
        <li class="stick bg-green"><a href="#">Защитники</a></li>
        <li class="stick bg-blue"><a href="#">Полузащитники</a></li>
        <li class="stick bg-red"><a href="#">Нападающие</a></li>
    </ul>
</nav>