<div class="grid">
    <div class="row">
        <div class="span4">
            <div id="TransferMenu"></div>
        </div>
        <div class="span8">
            <div id="TableButtonsRegion"></div>
            <div id="PlayersTable"></div>
        </div>
    </div>
</div>