<table class="table hovered">
    <thead>
        <tr>
            <th class="text-left">ФИО</th>
            <th class="text-left">Возраст</th>
            <th class="text-left">Национальность</th>
            <th class="text-left">Команда</th>
            <th class="text-left">Стоимость</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>Рами Адиль</td>
            <td>28</td>
            <td>Франция</td>
            <td>Валенсия</td>
            <td></td>
        </tr>
        <tr>
            <td>Хонда Кейсуке</td>
            <td>27</td>
            <td>Япония</td>
            <td>ЦСКА</td>
            <td></td>
        </tr>
        <tr>
            <td>Эссьен Майкл</td>
            <td>31</td>
            <td>Гана</td>
            <td>Челси</td>
            <td></td>
        </tr>
    </tbody>

    <tfoot></tfoot>
</table>